// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p { color: #3d0099; 
	font-family: arial; }
h1 { color: #77003C; 
	text-align: center;
	padding-top: 27px;}
.a { color: #ff0066; }
.naglowek { background: #FBF888;
	height: 100px; }
.reszta{ background-image: url("wzorek.png");
		height: 1000px;}
.lewy{ width: 500px; 
		float: left; }
.prawy{ width: 300px; 
		float: left; 
		margin: 20px;}
.zaokraglony{ background: rgba(255,  255,  89,  0.6);
				margin: 20px;
				border-radius: 20px;
				text-align: center; }
li { list-style: none; }